@use "utils";

* {
  padding: 0;
  margin: 0;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

body {
  font-family: utils.$font-body;
  padding: 0;
  margin: 0;
  header {
    background-image: url("../assets/aboutbg.jpg");
    background-position: center;
    background-size: cover;
    background-position-y: 70%;
    height: 30dvh;
    .header {
      background-color: rgba(0, 0, 0, 0.6);
      background-position: center;
      background-size: cover;
      height: 100%;
    }
    .nav-container {
      // background-color: black;
      // position: sticky;
      // top: 0;
      color: white;
      font-weight: 500;
      padding-block: 10px;

      .navbar {
        display: flex;
        align-items: center;
        width: 90dvw;
        margin: auto;
        justify-content: space-between;
        padding-top: 20px;
        #logo {
          font-family: utils.$font-body;
          display: flex;
          align-items: center;
          gap: 4px;
          letter-spacing: 2px;
          // background: -webkit-linear-gradient(
          //   rgb(7, 137, 251),
          //   rgb(255, 72, 0)
          // );
          background-color: white;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .menu-items {
          ul {
            list-style-type: none;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 60px;
            font-family: utils.$font-body;
            font-size: 15px;
            color: rgb(255, 255, 255);
            // text-transform: uppercase;
            a {
              text-decoration: none;
              color: white;
              li {
                padding: 5px;
                border-bottom: 1px solid transparent;
                &:hover {
                  border-bottom: 1px solid white;
                }
              }
            }
            .active {
              color: utils.$primary-color;
              &:hover {
                border-bottom: 1px solid transparent;
              }
            }
          }
        }
      }
    }
    .hero {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 80%;
      margin: auto;
      font-family: utils.$font-header;
      font-size: 26px;
      color: white;
      .hero-content {
        width: 65%;
        gap: 50px;
        .hero-title {
          display: flex;
          justify-content: center;
          margin-block: 34px;
        }
      }
    }
  }
  .who-component {
    padding-block: 80px;
    .who-container {
      width: 80%;
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      .who-image {
        background-image: url("../assets/whobg.jpg");
        background-position: center;
        background-size: cover;
        background-position-x: 25%;
        width: 40%;
        &:hover {
          cursor: help;
        }
      }

      .who-content {
        width: 60%;
        .who-are-we {
          h3 {
            font-family: utils.$font-header;
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 20px;
            display: flex;
            color: utils.$blue;
            gap: 5px;
            p {
              color: utils.$primary-color;
            }
          }
          .who-detail {
            line-height: 1.6rem;
            font-size: 16px;
            font-family: utils.$font-body;
            text-align: justify;
          }
        }
        .mission {
          margin-top: 40px;
          h3 {
            font-family: utils.$font-header;
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 20px;
            display: flex;
            color: utils.$blue;
            gap: 5px;
            p {
              color: utils.$primary-color;
            }
          }
          .mission-detail {
            line-height: 1.6rem;
            font-size: 16px;
            font-family: utils.$font-body;
            text-align: justify;
            ul {
              padding-left: 17px;
              li {
                padding-bottom: 7px;
              }
            }
          }
        }
      }
    }
  }
}
