@use "utils";

* {
  padding: 0;
  margin: 0;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

body {
  font-family: utils.$font-body;
  padding: 0;
  margin: 0;
  header {
    background-image: url("../assets/bg-5.jpg");
    background-position: center;
    background-size: cover;
    height: 100dvh;
    .header {
      background-color: rgba(0, 0, 0, 0.5);
      background-position: center;
      background-size: cover;
      height: 100dvh;
    }
    .nav-container {
      // background-color: black;
      // position: sticky;
      // top: 0;
      color: white;
      font-weight: 500;
      padding-block: 10px;

      .navbar {
        display: flex;
        align-items: center;
        width: 90dvw;
        margin: auto;
        justify-content: space-between;
        padding-top: 20px;
        #logo {
          font-family: utils.$font-body;
          display: flex;
          align-items: center;
          gap: 4px;
          letter-spacing: 2px;
          // background: -webkit-linear-gradient(
          //   rgb(7, 137, 251),
          //   rgb(255, 72, 0)
          // );
          background-color: white;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .material-symbols-rounded.menu {
          display: none;
        }
        .drop-items {
          display: none;
        }
        .menu-items {
          ul {
            list-style-type: none;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 60px;
            font-family: utils.$font-body;
            font-size: 15px;
            color: rgb(255, 255, 255);
            margin-bottom: 0;
            // text-transform: uppercase;
            a {
              text-decoration: none;
              color: white;
              li {
                padding: 5px;
                border-bottom: 1px solid transparent;
                &:hover {
                  border-bottom: 1px solid white;
                }
              }
            }
            .active {
              color: utils.$primary-color;
              &:hover {
                border-bottom: 1px solid transparent;
              }
            }
          }
        }
      }
    }
    .hero {
      height: 94.4%;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 90%;
      margin: auto;
      font-family: utils.$font-header;
      font-size: 26px;
      color: white;
      .hero-content {
        width: 65%;
        gap: 50px;

        padding: 20px;
        .hero-subtitle {
          font-family: utils.$font-body;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.6rem;
          margin: 0;
          margin-bottom: 34px;
        }
        .hero-title {
          text-align: left;
          display: flex;
          margin-block: 34px;
        }
        .request-button {
          display: flex;
          align-items: center;
          background-color: transparent;
          color: utils.$primary-color;
          // color: white;
          border: 1px solid utils.$primary-color;
          font-family: utils.$font-body;
          font-size: 18px;
          padding: 15px 25px;
          gap: 7px;
          margin-top: 10px;
          transition: all;
          transition-duration: 150ms;
          transition-timing-function: ease-in-out;
          &:hover {
            background-color: utils.$primary-color;
            color: white;
            cursor: pointer;
            // font-size: 19px;
            // font-weight: 500;
          }
        }
      }
    }
  }
  .info-component {
    // background-color: utils.$background-light;
    background-image: url("../assets/infobg1.svg");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
    padding: 70px 50px;
    border-radius: 5px;
    color: black;

    h1 {
      margin: 0;
    }

    .info-container {
      margin-top: 30px;
      width: 85%;
      margin-inline: auto;
      .info-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;

        .info-title {
          text-align: center;
          font-family: utils.$font-header;
          font-weight: 700;
          font-size: 24px;
          padding-bottom: 5px;
        }
        .line-style {
          width: 150px;
          height: 2px;
          background-color: utils.$primary-color;
          border-radius: 7px 0 7px 0;
        }
        .info-detail {
          padding-top: 20px;
          text-align: center;
          line-height: 1.6rem;
          color: utils.$text-light;
          font-weight: 500;
          font-size: 16px;
          font-family: utils.$font-body;
        }
      }
      .info-items {
        color: black;
        font-family: utils.$font-body;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 20px;
        gap: 20px;

        .items {
          width: 30%;
          background-color: white;
          min-height: 300px;
          padding: 20px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // border-radius: 10px;
          gap: 10px;
          transition: all;
          transition-duration: 150ms;
          transition-timing-function: linear;
          border: 1px solid transparent;
          &:hover {
            box-shadow: 2px 2px 2px utils.$blue;
            border: 1px solid utils.$blue;
          }
        }

        .info-items-title {
          font-family: utils.$font-header;
          font-size: 20px;
        }
        .info-detail {
          text-align: center;
          line-height: 1.6rem;
          color: rgb(108, 108, 108);
          font-size: 16px;
          font-family: utils.$font-body;
        }
      }
    }
  }
  .mission-component {
    background-image: url("../assets/missionbg.svg");
    background-position: center;
    background-size: cover;
    padding-block: 80px;
    .mission-container {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-inline: auto;
      align-items: center;
      .mission-illustration {
        background-image: url(../assets/ill1.jpg);
        width: 40%;
        height: 300px;
        // border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 70% 60%;
        border-top-right-radius: 30% 40%;
        border-bottom-right-radius: 30% 60%;
        border-bottom-left-radius: 70% 40%;
        &:hover {
          border-radius: 10px;
        }
      }
      .mission {
        width: 50%;

        h3 {
          font-family: utils.$font-header;
          font-size: 24px;
          font-weight: 700;
          color: utils.$blue;
          padding-bottom: 20px;
          display: flex;
          gap: 5px;
          p {
            color: utils.$primary-color;
          }
        }
        .mission-detail {
          line-height: 1.6rem;
          font-size: 16px;
          font-family: utils.$font-body;
        }
        button {
          background-color: transparent;
          outline: none;
          border: 2px solid utils.$blue;
          padding: 15px 25px;
          margin-top: 20px;
          font-weight: 500;
          font-size: 16px;
          font-family: utils.$font-body;
          &:hover {
            background-color: utils.$blue;
            color: white;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .line-divider {
    display: block;
    width: 100vw;
    height: 2px;
    background-color: utils.$background-light;
  }

  .vision-component {
    padding-block: 80px;
    background-image: url("../assets/bgvision.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .mission-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin-inline: auto;
      align-items: center;
      .mission {
        width: 60%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
        padding: 20px;
        h3 {
          font-family: utils.$font-header;
          font-size: 24px;
          font-weight: 700;
          color: white;
          padding-bottom: 20px;
          display: flex;
          justify-content: center;
          gap: 5px;
          p {
            color: utils.$primary-color;
          }
        }
        .mission-detail {
          line-height: 1.6rem;
          font-size: 16px;
          font-family: utils.$font-body;
          color: white;
        }
        button {
          background-color: transparent;
          outline: none;
          border: 2px solid utils.$primary-color;
          padding: 15px 25px;
          margin-top: 20px;
          font-weight: 500;
          font-size: 16px;
          font-family: utils.$font-body;
          color: white;
          background-color: utils.$primary-color;
          &:hover {
            border: 2px solid utils.$primary-color;
            background-color: transparent;
            color: utils.$primary-color;
            cursor: pointer;
            font-size: 16px;
          }
        }
      }
    }
  }
}

$header-background: #333;
$mobile: 600px;
$tablet: 768px;
$desktop-xl: 1250px;

/*---------------------------------
    Mobile Nav Items
---------------------------------*/

@media (max-width: $mobile) {
  .menu-items {
    display: none;
  }
  #mobile-menu {
    display: flex;
  }
}

@media (max-width: $tablet) {
  #mobile-menu {
    display: flex;
  }
  .menu-items {
    display: none;
  }

  .drop-items {
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;

    ul {
      border: 1px solid white;
      padding-left: 0;
      margin-bottom: 0;

      gap: 20px;
      font-family: utils.$font-body;
      font-size: 15px;

      list-style-type: none;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
     background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(40px);
      padding: 20px;
      padding-block: 40px;
      border-radius: 10px;

      width: 100%;
      // text-transform: uppercase;
      a {
        text-decoration: none;
        width: 40%;

        li {
          width: 100%;
          color: white;
          padding: 5px;
          border-bottom: 1px solid transparent;
          &:hover {
            border-bottom: 1px solid white;
          }
        }
      }
      .active {
        color: utils.$primary-color;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

/*--------------------------
    Mobile MQ
---------------------------*/

@media (max-width: $tablet) {
  body {
    header {
      .hero {
        .hero-content {
          width: 100%;
          gap: 7px;

          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .hero-subtitle {
            text-align: center;
            font-family: utils.$font-body;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6rem;
            margin: 0;
            margin-bottom: 20px;
          }
          .hero-title {
            text-align: center;
            display: flex;
            margin-block: 20px;
            font-size: 30px;
          }
          .request-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: utils.$primary-color;
            // color: white;
            border: 1px solid utils.$primary-color;
            font-family: utils.$font-body;
            font-size: 16px;
            padding: 10px 15px;
            gap: 7px;
            margin-top: 10px;
            transition: all;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
            &:hover {
              background-color: utils.$primary-color;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
    .info-component {
      padding: 50px 20px;

      .info-container {
        margin-top: 10px;
        width: 100%;
        .info-content {
          padding-bottom: 20px;

          .info-title {
            font-size: 24px;
            padding-bottom: 5px;
          }
        }
        .info-items {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;

          .items {
            width: 100%;
          }
        }
      }
    }
    .mission-component {
      background-color: white;
      padding-block: 60px;
      .mission-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        .mission-illustration {
          width: 100%;
          height: 250px;
          border-radius: 10px;
          &:hover {
            border-radius: 10px;
          }
        }
        .mission {
          width: 100%;
          margin-top: 35px;
          h3 {
            font-family: utils.$font-header;
            font-size: 24px;
            font-weight: 700;
            color: utils.$blue;
            padding-bottom: 0;
            display: flex;
            gap: 5px;
            p {
              color: utils.$primary-color;
            }
          }
          .mission-detail {
            line-height: 1.6rem;
            font-size: 16px;
            font-family: utils.$font-body;
          }
          button {
            width: 100%;

            margin-top: 10px;
          }
        }
      }
    }

    .vision-component {
      padding-block: 50px;
      background-position-x: 90%;
      .mission-container {
        width: 90%;
        .mission {
          width: 95%;
          text-align: center;
          h3 {
            font-family: utils.$font-header;
            font-size: 24px;
            font-weight: 700;
            color: white;
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            gap: 5px;
          }
          button {
            width: 100%;
            background-color: transparent;
            outline: none;
            border: 2px solid utils.$primary-color;
            padding: 15px 25px;
            margin-top: 20px;
            font-weight: 500;
            font-size: 16px;
            font-family: utils.$font-body;
            color: white;
            background-color: utils.$primary-color;
            &:hover {
              border: 2px solid utils.$primary-color;
              background-color: transparent;
              color: utils.$primary-color;
              cursor: pointer;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/*--------------------------
    DESKTOP MQ
---------------------------*/

@media (min-width: $tablet) and (max-width: $desktop-xl) {
  body {
    header {
      .hero {
        .hero-content {
          width: 85%;
          gap: 7px;

          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: start;
          .hero-subtitle {
            text-align: left;
            font-family: utils.$font-body;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6rem;
            margin: 0;
            margin-bottom: 20px;
          }
          .hero-title {
            text-align: left;
            display: flex;
            margin-block: 20px;
            font-size: 30px;
          }
          .request-button {
            display: flex;
            justify-content: start;
            align-items: start;
            background-color: transparent;
            color: utils.$primary-color;
            // color: white;
            border: 1px solid utils.$primary-color;
            font-family: utils.$font-body;
            font-size: 16px;
            padding: 10px 15px;
            gap: 7px;
            margin-top: 10px;
            transition: all;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
            &:hover {
              background-color: utils.$primary-color;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
    .info-component {
      // background-color: utils.$background-light;
      background-image: url("../assets/infobg1.svg");
      background-position: center;
      background-size: cover;
      backdrop-filter: blur(5px);
      padding: 70px 50px;
      border-radius: 5px;
      color: black;

      h1 {
        margin: 0;
      }

      .info-container {
        margin-top: 30px;
        width: 85%;
        margin-inline: auto;

        .info-items {
          color: black;
          font-family: utils.$font-body;
          font-size: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
          padding: 20px;
          gap: 20px;

          .items {
            width: 100%;
            background-color: white;
            min-height: 210px;
            padding: 20px;

            &:hover {
              box-shadow: 2px 2px 2px utils.$blue;
              border: 1px solid utils.$blue;
            }
          }
        }
      }
    }
    .mission-component {
      background-image: url("../assets/missionbg.svg");
      background-position: center;
      background-size: cover;
      padding-block: 60px;
      .mission-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin-inline: auto;
        align-items: center;
        .mission-illustration {
          background-image: url(../assets/ill1.jpg);
          width: 100%;
          height: 300px;
          // border-radius: 10px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 10px;
          &:hover {
            border-radius: 10px;
          }
        }
        .mission {
          width: 100%;

          h3 {
            font-family: utils.$font-header;
            font-size: 24px;
            font-weight: 700;
            color: utils.$blue;
            padding-bottom: 0;
            margin-top: 20px;
            display: flex;
            gap: 5px;
            p {
              color: utils.$primary-color;
            }
          }
          .mission-detail {
            line-height: 1.6rem;
            font-size: 16px;
            font-family: utils.$font-body;
          }
          button {
            width: 100%;
          }
        }
      }
    }

    .vision-component {
      padding-block: 60px;
      .mission-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-inline: auto;
        align-items: center;
        .mission {
          width: 75%;
          text-align: center;
          background-color: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(40px);
          padding: 20px;

          button {
            width: 100%;
            background-color: transparent;
            outline: none;
            border: 2px solid utils.$primary-color;
            padding: 15px 25px;
            margin-top: 20px;
            font-weight: 500;
            font-size: 16px;
            font-family: utils.$font-body;
            color: white;
            background-color: utils.$primary-color;
            &:hover {
              border: 2px solid utils.$primary-color;
              background-color: transparent;
              color: utils.$primary-color;
              cursor: pointer;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
