* {
  padding: 0;
  margin: 0;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

body {
  font-family: "Supreme", sans-serif;
  padding: 0;
  margin: 0;
}
body header {
  background-image: url("../assets/bg-5.jpg");
  background-position: center;
  background-size: cover;
  height: 100dvh;
}
body header .header {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  height: 100dvh;
}
body header .nav-container {
  color: white;
  font-weight: 500;
  padding-block: 10px;
}
body header .nav-container .navbar {
  display: flex;
  align-items: center;
  width: 90dvw;
  margin: auto;
  justify-content: space-between;
  padding-top: 20px;
}
body header .nav-container .navbar #logo {
  font-family: "Supreme", sans-serif;
  display: flex;
  align-items: center;
  gap: 4px;
  letter-spacing: 2px;
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body header .nav-container .navbar .material-symbols-rounded.menu {
  display: none;
}
body header .nav-container .navbar .drop-items {
  display: none;
}
body header .nav-container .navbar .menu-items ul {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: "Supreme", sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}
body header .nav-container .navbar .menu-items ul a {
  text-decoration: none;
  color: white;
}
body header .nav-container .navbar .menu-items ul a li {
  padding: 5px;
  border-bottom: 1px solid transparent;
}
body header .nav-container .navbar .menu-items ul a li:hover {
  border-bottom: 1px solid white;
}
body header .nav-container .navbar .menu-items ul .active {
  color: #ec9901;
}
body header .nav-container .navbar .menu-items ul .active:hover {
  border-bottom: 1px solid transparent;
}
body header .hero {
  height: 94.4%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 90%;
  margin: auto;
  font-family: "Recia", serif;
  font-size: 26px;
  color: white;
}
body header .hero .hero-content {
  width: 65%;
  gap: 50px;
  padding: 20px;
}
body header .hero .hero-content .hero-subtitle {
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6rem;
  margin: 0;
  margin-bottom: 34px;
}
body header .hero .hero-content .hero-title {
  text-align: left;
  display: flex;
  margin-block: 34px;
}
body header .hero .hero-content .request-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #ec9901;
  border: 1px solid #ec9901;
  font-family: "Supreme", sans-serif;
  font-size: 18px;
  padding: 15px 25px;
  gap: 7px;
  margin-top: 10px;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
body header .hero .hero-content .request-button:hover {
  background-color: #ec9901;
  color: white;
  cursor: pointer;
}
body .info-component {
  background-image: url("../assets/infobg1.svg");
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 70px 50px;
  border-radius: 5px;
  color: black;
}
body .info-component h1 {
  margin: 0;
}
body .info-component .info-container {
  margin-top: 30px;
  width: 85%;
  margin-inline: auto;
}
body .info-component .info-container .info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
body .info-component .info-container .info-content .info-title {
  text-align: center;
  font-family: "Recia", serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 5px;
}
body .info-component .info-container .info-content .line-style {
  width: 150px;
  height: 2px;
  background-color: #ec9901;
  border-radius: 7px 0 7px 0;
}
body .info-component .info-container .info-content .info-detail {
  padding-top: 20px;
  text-align: center;
  line-height: 1.6rem;
  color: rgb(108, 108, 108);
  font-weight: 500;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
}
body .info-component .info-container .info-items {
  color: black;
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  gap: 20px;
}
body .info-component .info-container .info-items .items {
  width: 30%;
  background-color: white;
  min-height: 210px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
  border: 1px solid transparent;
}
body .info-component .info-container .info-items .items:hover {
  box-shadow: 2px 2px 2px #084252;
  border: 1px solid #084252;
}
body .info-component .info-container .info-items .info-items-title {
  font-family: "Recia", serif;
  font-size: 20px;
}
body .info-component .info-container .info-items .info-detail {
  text-align: center;
  line-height: 1.6rem;
  color: rgb(108, 108, 108);
  font-size: 16px;
  font-family: "Supreme", sans-serif;
}
body .mission-component {
  background-image: url("../assets/missionbg.svg");
  background-position: center;
  background-size: cover;
  padding-block: 80px;
}
body .mission-component .mission-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
  align-items: center;
}
body .mission-component .mission-container .mission-illustration {
  background-image: url(../assets/ill1.jpg);
  width: 40%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 70% 60%;
  border-top-right-radius: 30% 40%;
  border-bottom-right-radius: 30% 60%;
  border-bottom-left-radius: 70% 40%;
}
body .mission-component .mission-container .mission-illustration:hover {
  border-radius: 10px;
}
body .mission-component .mission-container .mission {
  width: 50%;
}
body .mission-component .mission-container .mission h3 {
  font-family: "Recia", serif;
  font-size: 24px;
  font-weight: 700;
  color: #084252;
  padding-bottom: 20px;
  display: flex;
  gap: 5px;
}
body .mission-component .mission-container .mission h3 p {
  color: #ec9901;
}
body .mission-component .mission-container .mission .mission-detail {
  line-height: 1.6rem;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
}
body .mission-component .mission-container .mission button {
  background-color: transparent;
  outline: none;
  border: 2px solid #084252;
  padding: 15px 25px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
}
body .mission-component .mission-container .mission button:hover {
  background-color: #084252;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
body .line-divider {
  display: block;
  width: 100vw;
  height: 2px;
  background-color: rgba(228, 228, 228, 0.5);
}
body .vision-component {
  padding-block: 80px;
  background-image: url("../assets/bgvision.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body .vision-component .mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  align-items: center;
}
body .vision-component .mission-container .mission {
  width: 60%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  padding: 20px;
}
body .vision-component .mission-container .mission h3 {
  font-family: "Recia", serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
body .vision-component .mission-container .mission h3 p {
  color: #ec9901;
}
body .vision-component .mission-container .mission .mission-detail {
  line-height: 1.6rem;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
  color: white;
}
body .vision-component .mission-container .mission button {
  background-color: transparent;
  outline: none;
  border: 2px solid #ec9901;
  padding: 15px 25px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
  color: white;
  background-color: #ec9901;
}
body .vision-component .mission-container .mission button:hover {
  border: 2px solid #ec9901;
  background-color: transparent;
  color: #ec9901;
  cursor: pointer;
  font-size: 16px;
}

/*---------------------------------
    Mobile Nav Items
---------------------------------*/
@media (max-width: 600px) {
  .menu-items {
    display: none;
  }
  #mobile-menu {
    display: flex;
  }
}
@media (max-width: 768px) {
  #mobile-menu {
    display: flex;
  }
  .menu-items {
    display: none;
  }
  .drop-items {
    position: absolute;
    top: 100%;
    width: 70%;
    right: 0;
  }
  .drop-items ul {
    border: 1px solid white;
    padding-left: 0;
    margin-bottom: 0;
    gap: 20px;
    font-family: "Supreme", sans-serif;
    font-size: 15px;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    padding: 20px;
    padding-block: 40px;
    border-radius: 10px;
    width: 100%;
  }
  .drop-items ul a {
    text-decoration: none;
    width: 40%;
  }
  .drop-items ul a li {
    width: 100%;
    color: white;
    padding: 5px;
    border-bottom: 1px solid transparent;
  }
  .drop-items ul a li:hover {
    border-bottom: 1px solid white;
  }
  .drop-items ul .active {
    color: #ec9901;
  }
  .drop-items ul .active:hover {
    border-bottom: 1px solid transparent;
  }
}
@media (max-width: 768px) {
  body header .hero .hero-content {
    width: 100%;
    gap: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body header .hero .hero-content .hero-subtitle {
    text-align: center;
    font-family: "Supreme", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 0;
    margin-bottom: 20px;
  }
  body header .hero .hero-content .hero-title {
    text-align: center;
    display: flex;
    margin-block: 20px;
    font-size: 30px;
  }
  body header .hero .hero-content .request-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ec9901;
    border: 1px solid #ec9901;
    font-family: "Supreme", sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    gap: 7px;
    margin-top: 10px;
    transition: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }
  body header .hero .hero-content .request-button:hover {
    background-color: #ec9901;
    color: white;
    cursor: pointer;
  }
  body .info-component {
    padding: 50px 20px;
  }
  body .info-component .info-container {
    margin-top: 10px;
    width: 100%;
  }
  body .info-component .info-container .info-content {
    padding-bottom: 20px;
  }
  body .info-component .info-container .info-content .info-title {
    font-size: 24px;
    padding-bottom: 5px;
  }
  body .info-component .info-container .info-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  body .info-component .info-container .info-items .items {
    width: 100%;
  }
  body .mission-component {
    background-color: white;
    padding-block: 60px;
  }
  body .mission-component .mission-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  body .mission-component .mission-container .mission-illustration {
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }
  body .mission-component .mission-container .mission-illustration:hover {
    border-radius: 10px;
  }
  body .mission-component .mission-container .mission {
    width: 100%;
    margin-top: 35px;
  }
  body .mission-component .mission-container .mission h3 {
    font-family: "Recia", serif;
    font-size: 24px;
    font-weight: 700;
    color: #084252;
    padding-bottom: 0;
    display: flex;
    gap: 5px;
  }
  body .mission-component .mission-container .mission h3 p {
    color: #ec9901;
  }
  body .mission-component .mission-container .mission .mission-detail {
    line-height: 1.6rem;
    font-size: 16px;
    font-family: "Supreme", sans-serif;
  }
  body .mission-component .mission-container .mission button {
    width: 100%;
    margin-top: 10px;
  }
  body .vision-component {
    padding-block: 50px;
    background-position-x: 90%;
  }
  body .vision-component .mission-container {
    width: 90%;
  }
  body .vision-component .mission-container .mission {
    width: 95%;
    text-align: center;
  }
  body .vision-component .mission-container .mission h3 {
    font-family: "Recia", serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  body .vision-component .mission-container .mission button {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid #ec9901;
    padding: 15px 25px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Supreme", sans-serif;
    color: white;
    background-color: #ec9901;
  }
  body .vision-component .mission-container .mission button:hover {
    border: 2px solid #ec9901;
    background-color: transparent;
    color: #ec9901;
    cursor: pointer;
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */