* {
  padding: 0;
  margin: 0;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

body {
  font-family: "Supreme", sans-serif;
  padding: 0;
  margin: 0;
}
body header {
  background-image: url("../assets/servicesbg.jpg");
  background-position: center;
  background-size: cover;
  background-position-y: 70%;
  height: 30dvh;
}
body header .header {
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  height: 100%;
}
body header .nav-container {
  color: white;
  font-weight: 500;
  padding-block: 10px;
}
body header .nav-container .navbar {
  display: flex;
  align-items: center;
  width: 90dvw;
  margin: auto;
  justify-content: space-between;
  padding-top: 20px;
}
body header .nav-container .navbar #logo {
  font-family: "Supreme", sans-serif;
  display: flex;
  align-items: center;
  gap: 4px;
  letter-spacing: 2px;
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body header .nav-container .navbar .material-symbols-rounded.menu {
  display: none;
}
body header .nav-container .navbar .drop-items {
  display: none;
}
body header .nav-container .navbar .menu-items ul {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: "Supreme", sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
body header .nav-container .navbar .menu-items ul a {
  text-decoration: none;
  color: white;
}
body header .nav-container .navbar .menu-items ul a li {
  padding: 5px;
  border-bottom: 1px solid transparent;
}
body header .nav-container .navbar .menu-items ul a li:hover {
  border-bottom: 1px solid white;
}
body header .nav-container .navbar .menu-items ul .active {
  color: #ec9901;
}
body header .nav-container .navbar .menu-items ul .active:hover {
  border-bottom: 1px solid transparent;
}
body header .hero {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 80%;
  margin: auto;
  font-family: "Recia", serif;
  font-size: 26px;
  color: white;
}
body header .hero .hero-content {
  width: 65%;
  gap: 50px;
}
body header .hero .hero-content .hero-title {
  display: flex;
  justify-content: center;
  margin-block: 34px;
}
body .info-component {
  background-image: url("../assets/infobg1.svg");
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 70px 50px;
  border-radius: 5px;
  color: black;
}
body .info-component h1 {
  margin: 0;
}
body .info-component .info-container {
  margin-top: 30px;
  width: 85%;
  margin-inline: auto;
}
body .info-component .info-container .info-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 30px;
}
body .info-component .info-container .info-content .info-title {
  text-align: left;
  font-family: "Recia", serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 5px;
}
body .info-component .info-container .info-content .line-style {
  width: 150px;
  height: 4px;
  background-color: #ec9901;
  border-radius: 7px 0 7px 0;
}
body .info-component .info-container .info-content .info-detail {
  padding-top: 20px;
  text-align: left;
  line-height: 1.6rem;
  color: rgb(108, 108, 108);
  font-weight: 500;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
}
body .info-component .info-container .info-items {
  color: black;
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
body .info-component .info-container .info-items .items {
  width: 30%;
  background-color: white;
  min-height: 650px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
  border: 1px solid transparent;
}
body .info-component .info-container .info-items .items:hover {
  box-shadow: 2px 2px 2px #084252;
  border: 1px solid #084252;
}
body .info-component .info-container .info-items .items .numbers {
  font-size: 24px;
  padding-bottom: 10px;
  color: rgb(108, 108, 108);
}
body .info-component .info-container .info-items .info-items-title {
  color: #084252;
  font-family: "Recia", serif;
  font-size: 20px;
}
body .info-component .info-container .info-items .info-detail {
  text-align: left;
  line-height: 1.6rem;
  color: rgb(108, 108, 108);
  font-size: 16px;
  font-family: "Supreme", sans-serif;
}
body .info-component .info-container .info-items div {
  font-family: "Supreme", sans-serif;
  font-weight: 400px;
  line-height: 1.6rem;
}
body .info-component .info-container .info-items div .check {
  display: flex;
  align-items: center;
  gap: 5px;
}
body .info-component .info-container .info-items div .check span {
  color: #ec9901;
}
body .who-component {
  padding-block: 80px;
}
body .who-component .who-container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
body .who-component .who-container .who-image {
  background-image: url("../assets/whobg.jpg");
  background-position: center;
  background-size: cover;
  background-position-x: 25%;
  width: 40%;
}
body .who-component .who-container .who-image:hover {
  cursor: help;
}
body .who-component .who-container .who-content {
  width: 60%;
}
body .who-component .who-container .who-content .who-are-we h3 {
  font-family: "Recia", serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  display: flex;
  color: #084252;
  gap: 5px;
}
body .who-component .who-container .who-content .who-are-we h3 p {
  color: #ec9901;
}
body .who-component .who-container .who-content .who-are-we .who-detail {
  line-height: 2rem;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
  text-align: justify;
}
body .mission-component {
  padding-block: 60px;
  background-image: url("../assets/missionbg3.jpg");
  background-position: center;
  background-size: cover;
  background-position-x: 25%;
}
body .mission-component .mission-container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
body .mission-component .mission-container .mission {
  text-align: center;
}
body .mission-component .mission-container .mission h3 {
  font-family: "Recia", serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  color: #084252;
  gap: 5px;
}
body .mission-component .mission-container .mission .mission-detail {
  line-height: 1.6rem;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
  display: flex;
  justify-content: space-between;
}
body .mission-component .mission-container .mission .mission-detail .mission-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33%;
}
body .mission-component .mission-container .mission .mission-detail .mission-items span {
  color: rgb(108, 108, 108);
  font-size: 40px;
}
body .message-component {
  padding-block: 80px;
  background-image: url("../assets/letterbg1.jpg");
  background-position: center;
  background-size: cover;
  background-position-x: 25%;
}
body .message-component .message-container {
  width: 80%;
  margin-inline: auto;
}
body .message-component .message-container .message-header {
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  margin-bottom: 30px;
}
body .message-component .message-container .message-header h3 {
  padding: 0;
  margin: 0;
  font-family: "Recia", serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 5px;
  text-transform: uppercase;
}
body .message-component .message-container .message-body {
  text-align: justify;
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  line-height: 2rem;
}
body .phil-component {
  padding-block: 80px;
}
body .phil-component .phil-container {
  width: 80%;
  margin-inline: auto;
}
body .phil-component .phil-container .phil-header {
  margin-bottom: 60px;
}
body .phil-component .phil-container .phil-header h3 {
  font-family: "Recia", serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  display: flex;
  color: #084252;
  gap: 5px;
}
body .phil-component .phil-container .phil-header h3 p {
  color: #ec9901;
}
body .phil-component .phil-container .phil-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
body .phil-component .phil-container .phil-content .phil-items {
  width: 22%;
  min-height: 300px;
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  text-align: justify;
}
body .phil-component .phil-container .phil-content .phil-items p {
  font-size: 24px;
  padding-bottom: 10px;
  color: rgb(108, 108, 108);
}
body .phil-component .phil-container .phil-content .phil-items h3 {
  padding: 0;
  margin: 0;
  font-family: "Recia", serif;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #084252;
}
body .phil-component .phil-container .result-creed {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
body .phil-component .phil-container .result-creed .result-container {
  width: 40%;
  background-color: white;
  padding-inline: 30px;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  color: rgb(108, 108, 108);
}
body .phil-component .phil-container .result-creed .result-container h3 {
  font-family: "Recia", serif;
  font-size: 20px;
  padding-bottom: 20px;
  color: #084252;
}
body .phil-component .phil-container .result-creed .creed-container {
  width: 60%;
  background-color: white;
  padding-inline: 30px;
  padding-block: 50px;
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  color: rgb(108, 108, 108);
}
body .phil-component .phil-container .result-creed .creed-container h3 {
  font-family: "Recia", serif;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  display: flex;
  color: #084252;
  gap: 5px;
}
body .phil-component .phil-container .result-creed .creed-container h3 p {
  color: #ec9901;
}
body .hiring-component {
  background-image: url("../assets/we_hiring.jpg");
  background-position: center;
  background-size: cover;
  background-position-y: 40%;
  background-position-x: 50%;
}
body .hiring-component .hiring-dark {
  padding-block: 80px;
  background-color: rgba(3, 38, 51, 0.6);
  background-position: center;
  background-size: cover;
  height: 100%;
}
body .hiring-component .hiring-dark .hiring-container {
  width: 60%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .hiring-component .hiring-dark .hiring-container .hiring {
  font-family: "Recia", serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  display: flex;
  color: rgb(159, 18, 18);
  gap: 5px;
}
body .hiring-component .hiring-dark .hiring-container .hiring-body {
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  line-height: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form {
  background-color: white;
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-image: url("../assets/letterbg1.jpg");
  background-position: center;
  background-size: cover;
  background-position-x: 25%;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form .phil-2 {
  font-family: "Supreme", sans-serif;
  line-height: 1.6rem;
  font-size: 16px;
  text-align: center;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form .phil-2 h3 {
  font-family: "Recia", serif;
  color: #084252;
  font-size: 30px;
  margin-bottom: 20px;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Supreme", sans-serif;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form form label {
  margin-bottom: 30px;
  text-align: center;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form form .hiring-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form form .hiring-input button {
  background-color: #084252;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border: 1px solid transparent;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form form .hiring-input button:hover {
  opacity: 0.8;
  cursor: pointer;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form form .hiring-input input[type=file]::file-selector-button {
  background-color: #084252;
  color: white;
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
body .hiring-component .hiring-dark .hiring-container .hiring-form form .hiring-input input[type=file]::file-selector-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
body #scrollContainer {
  padding-top: 80px;
}
body #scrollContainer .scroll-title {
  font-family: "Recia", serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}
body #scrollContainer .scroll-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin-inline: auto;
}
body #scrollContainer .scroll-container #scrollableDiv {
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  display: flex;
  gap: 10px;
  width: 100%;
}
body #scrollContainer .scroll-container #scrollableDiv .workers {
  text-align: left;
  min-width: 25%;
  padding: 20px;
  margin-block: 5px;
  font-family: "Supreme", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  color: rgb(108, 108, 108);
  white-space: wrap;
}
body #scrollContainer .scroll-container #scrollableDiv .workers h3 {
  font-family: "Recia", serif;
  font-size: 20px;
  color: #084252;
  padding-bottom: 15px;
}
body #scrollContainer .scroll-container #leftBtn {
  position: relative;
  left: -10px;
}
body #scrollContainer .scroll-container #rightBtn {
  position: relative;
  right: -10px;
}
body #scrollContainer .scroll-container button {
  background-color: rgba(228, 228, 228, 0.5);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
body #scrollContainer .scroll-container button span {
  font-size: 30px;
  color: rgb(108, 108, 108);
  text-align: center;
}
body .final-service {
  padding-block: 80px;
  background-image: url("../assets/letterbg1.jpg");
  background-position: center;
  background-size: cover;
  background-position-x: 25%;
}
body .final-service .final-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  font-size: 16px;
  font-family: "Supreme", sans-serif;
}
body .final-service .final-component h3 {
  font-family: "Recia", serif;
  font-size: 24px;
  padding-bottom: 10px;
}

/*---------------------------------
    Mobile Nav Items
---------------------------------*/
@media (max-width: 600px) {
  .menu-items {
    display: none;
  }
  #mobile-menu {
    display: flex;
  }
}
@media (max-width: 768px) {
  #mobile-menu {
    display: flex;
  }
  .menu-items {
    display: none;
  }
  .drop-items {
    position: absolute;
    top: 100%;
    width: 70%;
    right: 0;
  }
  .drop-items ul {
    border: 1px solid white;
    padding-left: 0;
    margin-bottom: 0;
    gap: 20px;
    font-family: "Supreme", sans-serif;
    font-size: 15px;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    padding: 20px;
    padding-block: 40px;
    border-radius: 10px;
    width: 100%;
  }
  .drop-items ul a {
    text-decoration: none;
    width: 40%;
  }
  .drop-items ul a li {
    width: 100%;
    color: white;
    padding: 5px;
    border-bottom: 1px solid transparent;
  }
  .drop-items ul a li:hover {
    border-bottom: 1px solid white;
  }
  .drop-items ul .active {
    color: #ec9901;
  }
  .drop-items ul .active:hover {
    border-bottom: 1px solid transparent;
  }
}/*# sourceMappingURL=services.css.map */